@media screen and (max-width: 700px) {
    .comment {
        width: 100%;
        display: flex;
        flex-direction: column;
    }    
    button{
        width:80px; 
        height:50px;
        margin: 4px;
        font-size: 12px;
    }
    #jsdiv{
        width: 100%;
    }
    
}