body {
    /*background-image: url(pic4.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;*/
    background-color: black;
}

#title {
    font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
text-align: center; 
color: lightyellow;
font-size: 50px;
animation: title 30s infinite;
}

#text {
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
text-align: center;
color: whitesmoke
}

button {
    border-radius: 8px;
    width:110px; 
    height:50px;
    border: 1px solid black;
    opacity: 0.7;
    transition-duration: 0.5s;
    margin-top: 20px;
    /*box-shadow: 4px 4px 6px rgb(75, 75, 75); */
    text-align: center;
    margin: 10px;
    font-size: 16px;
    background-color: black;
    color:azure;
    /*animation: title 30s infinite;*/
}

button:hover{
    border: 1px ridge whitesmoke;
}

.test{
    text-align: center;
    color: whitesmoke
}

.btncenter {
    display: flex;
    justify-content: center;
    align-items: center;
    }
#spoiler{
    color:whitesmoke;
    text-align: center;
}
#jsdiv{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
 #jsbutton{
    border-radius: 16px;
    width:80px; 
    height:22px;
    border: 1px solid black;
    opacity: 0.7;
 }
 #jsdiv{
    border: 1px solid;
    background-color: whitesmoke;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
 }
 a {
    text-decoration: none;
    color: #fff;
}
ol {
  list-style: none;
  margin: auto;
  padding: 0;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  font-size: 36px;
  margin: 5px;
}
.social-icons-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon {
  transition-duration: 0.2s;
}
.social-icon:hover {
  color: #ccc;
  transition-duration: 0.2s;
}
